*~
*.swp
*.swo
__pycache__

rvx_*.sh
rvx_*.log
rvx_*.cfg
rvx_*.bat
rvx_python_config.mh
.rvx_*
python3.bat
Path-*.txt

rvx_binary
rvx_platform_example

# RVX / HDL generated outputs
*.log
*.jou
*.rpt
*.wdb
*.vcd
*.dump
*.dcp
*.bit
*.ltx
*.pb
*.str
*.os
*.o
*.d
*.so
*.a
*.obj
*.tgz
*.tar.gz
*.zip
*.qdb
*.qpg
*.qtl
.Xil/
*.runs/
*.cache/
*.hw/
*.sim/
*.gen/
*.ip_user_files/
xsim.dir/
work/
sim_rtl/
rtl.debug/
snapshots/
transcript
*_sim_netlist.*
*_funcsim.*
*_stub.*
*_netlist.v
*_netlist.vhdl
